<% if model.errors.any? %>
    <div id="error_exp;anation" class="alert alert-danger">
      <h2></h2>
      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  