<% if model.errors.any? %>
    <div class="alert_message">
      <span id= "alert">
        <%= pluralize(model.errors.count, "error") %> prohibited this product from being saved:
      </span>
      <ul>
        <% model.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
